.vscode/**
.vscode-test/**
out/test/**
src/**
other
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

.nyc_output
.trunk
todo.md
demo
coverage
.deepsource.toml
